* {
	box-sizing: border-box;
}

html{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: roboto;
	font-weight: 300;
}

h2{
	text-align: center;
}

/* Landing Page */

#home_img{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-image: url(assets/buses.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	z-index: 1000; 
	position: relative; 
}

#banner{
	text-align: center;
	background-color: rgba(255,97,3,0.5);
	top: 50%;
	width: 100%;
	position: relative;
	padding-top: 10%;
	padding-bottom: 10%;
	
	-ms-transform: translate(0,-50%);
	-webkit-transform: translate(0,-50%);
	-moz-transform: translate(0,-50%); 
	transform: translate(0,-50%);
}

#banner div {
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
}

#banner p{
	margin: 0;
	font-size: 5em;
	letter-spacing: 5px;
}

#banner p a{
	width: 100%;
    height: auto;
	text-decoration: none; 
	color: black;
	animation-name: colours;
    animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes colours {
    0%  {color: black;}
	20%{color:#1E90FF;}
    40%  {color:#9ACD32;}
    60%  {color:#ffcc00;}
    80% {color:#ff5c33;}
	100%  {color: black;}
}


/* Navigation bar */

#background {
	height: 100%;
	width: 100%;
	position: relative; 
}

nav {
	top: 50%;
	position: relative;
	padding-top: 10%;
	padding-bottom: 10%;
	-ms-transform: translate(11%,-50%);
	-webkit-transform: translate(11%,-50%);
	-moz-transform: translate(11%,-50%);
	transform: translate(11%,-50%);
	height: 100%;
	width: 100%;
	padding: 0;
}

nav ul {
	height: 100%;
	width: 100%;
	margin: 0;
	list-style-type: none;
	-ms-transform: translate(-16%,0);
	-webkit-transform: translate(-16%,0);
	-moz-transform: translate(-16%,0);
	transform: translate(-16%,0);	
}



ul {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column; 
	justify-content: space-around;
	align-items: center;
	padding: 0;
}

li{
	font-weight: lighter;
	font-size: 3em;
	height: 25%;
	width: 100%;
	width: auto;
	vertical-align: middle;
	display: flex;
	align-items: center;
}

li a  {
	text-decoration: none;
}

li a:hover{
	display: inline-block;
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
	-ms-transform: transform .3s;
	-webkit-transform: transform .3s;
	-moz-transform: transform .3s;
	transition: transform .3s;
}
	
#sidebar {
	height: 100%;
	width: 30%;
	display: inline-block;
	background-image: url(assets/colour_pattern.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0; 
}

/* Home Button */

#home_button {
	background-color: rgba(250,250,250,0.5); 
	height: auto;
	width: auto;
	position: fixed;
	z-index: 1;
	bottom: 0;
	right: 0; 
	border-radius: 10%; 
}

#home_button p {
	
	margin: 0;
	font-weight: lighter;
	font-size: 1em;
	color: black;
}

#home_button a {
	text-decoration: none;
	color: black;
	font-family: roboto;
}

/* Right Side */

#rightside{
	height: 100%;
	width: 70%;
	background-color: green;
	float: right; 
	position: relative;
}

.sections {
	min-height: 100%;
	width: 100%;
	display: inline-block;
	position: relative; 
}

.sections h2 {
	font-family: roboto;
	font-weight: normal;
	letter-spacing: 5px;
	font-size: 3em;
	margin: 0;
	padding-top: 5px; 
}


/* SECTION: ABOUT */

#about{
	background-color: rgb(1,169,234);
	display: flex;
	flex-direction: column; 
	justify-content: space-between;
}

#about_container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

#about_container h3 {
	font-size: 1em;
	text-align: left;
}

#about_container p {
	font-size: 0.9em;
	text-align: left;
}

.about_figures {
	height: 230px;
	width: 230px;
	border-radius: 5%;
    overflow: hidden;
	position: relative;
}

.about_figures:hover .overlay {
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}


.overlay:hover .overlay_title {
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}

.about_figures::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    -ms-transform: background .35s ease-out;
	-webkit-transform: background .35s ease-out;
	-moz-transform: background .35s ease-out;
	transition: background .35s ease-out;
}
.about_figures:hover::before {
    background: rgba(0, 0, 0, .5);
}

/* SECTION: CV */

#cv{
	background-color: rgb(146,200,62);
	display: flex;
	flex-direction: column; 
	justify-content: space-around;
	align-items: center;
}

#cv h2 {
	position: absolute;
	top: 0;
	right: auto;
	left: auto;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

#cv_container {
	width: 100%;
	padding: 0 20px 20px;
	display: flex;
	justify-content: center;
	position: relative;
}

#cv_slider {
	border: solid 5px rgba(250,250,250,0.5);
	max-width: 80%;
	max-height: 80%;
	position: relative; 
	max-height: 500px;
	overflow: hidden;
}

.cv_slides{
	max-width: 100%;
	max-height: 100%;
}

#cv_slider text {
	
}

#cv_left_click {
	font-size: 3em;
	background-color: rgba(250,250,250,0.5); 
	border-radius: 30%;
	position: absolute;
	left: 5%;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

#cv_right_click {
	font-size: 3em;
	background-color: rgba(250,250,250,0.5); 
	border-radius: 30%;
	position: absolute;
	right: 5%;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

#cv a {
	cursor: pointer; 
}


/* SECTION: PORTFOLIO */

#portfolio{
	background-color: rgb(251,196,8);
	display: flex;
	flex-direction: column; 
	align-items: stretch;
}

#port_container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
}

#port_container h3 {
	font-size: 1em;
	text-align: left;
}

#port_container p {
	font-size: 0.9em;
	text-align: left;
}

.figures {
	height: 240px;
	width: 240px;
	border-radius: 5%;
    overflow: hidden;
	position: relative;
}

.figures_img {
	width: 100%;
    height: 100%;
	display: block;
}

.overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 5px;
	color: #ffcc00;
	-ms-transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	transform: translateY(100%);
	-ms-transform: transform 0.5s ease-out;
	-webkit-transform: transform 0.5s ease-out;
	-moz-transform: transform 0.5s ease-out;
	transition: transform 0.5s ease-out; 
}

.figures:hover .overlay {
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}

.overlay_title {
	margin: 0;
	padding: 0 0 6px;
	-ms-transform: translateY( -100%);
	-webkit-transform: translateY( -100%);
	-moz-transform: translateY( -100%);
	transform: translateY( -100%);
	-ms-transform: transform 0.5s ease-out;
	-webkit-transform: transform 0.5s ease-out;
	-moz-transform: transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
}

.overlay:hover .overlay_title {
	-ms-transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	transform: translateY(0);
}

.figures::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    -ms-transform: background .35s ease-out;
	-webkit-transform: background .35s ease-out;
	-moz-transform: background .35s ease-out;
	transition: background .35s ease-out;
}
.figures:hover::before {
    background: rgba(0, 0, 0, .5);
}

/* SECTION: CONTACT */

#contact{
	background-color: rgb(243,86,35);
}

#vid_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

@media(max-width: 992px){  /*tablet size*/
	li{
	font-size: 2em;
	}
}

@media(max-width: 768px){  /* phone size - landscape */
	li{
	font-size: 1.5em;
	font-weight: bold;
	}
}

@media(max-width: 450px){  /* phone size - portrait */
	li{
	font-size: 1em;
	font-weight: bold;
	}
}
